.app {}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.header {
  height: 100px;
}

.main {
  display: flex;
  height: 80vh;
  position: relative;
}

.sqlarea {
  width: 50%;
}

.structarea {
  width: 50%;

  .editor {

    .cm-theme,
    .cm-theme-light {
      border-left: none;
    }
  }
}

.toolbar {
  display: flex;
  margin: 10px 0;

  .languages {
    margin-right: 10px;

    select {
      min-width: 100px;
    }
  }
}